body {
	margin: 0px;
	background-image: url("../images/background.png");
	background-repeat: repeat;
}
header {
	background-image: url("../images/header-completo.png");
	background-position: top, center;
	height: 258px;
	background-repeat: no-repeat;
	margin: 0px;
	z-index: 2;
	position: relative;
}

#header-content {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	position: relative;
}
.container {
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
#logo {
	background-image: url("../images/logo.png"); 
	width: 230px;
	height: 225px;
	float: left;
	text-indent: -9999px;
}
#logo a {
	width: 230px;
	height: 225px;
	display: block;
}
/* ------------Menù principal----------*/
#mainmenu {
	float: left;
}
#mainmenu ul {
	margin-left: -50px;
	margin-top: 0px;
}
#mainmenu ul li {
	float: left;
	list-style-type: none;
	margin-right: 5px;
}
#mainmenu ul li a {
	width: 213px;
	height: 42px;
	display: block;
	font-family: 'Gochi Hand';
	color: #fff;
	text-decoration: none;
	padding-top: 14px;
	text-align: center;
	font-size: 20px;
}
#mainmenu a.item1 {
	display: block;
	background-image: url("../images/btn-header.png"); 
	background-repeat: no-repeat;
}
#mainmenu a:hover.item1 {
	display: block;
	background-image: url("../images/btn-header.png"); 
	background-repeat: no-repeat;
	background-position: 0 -57px;
}
/* ------------Compartir----------*/
#share {
	float: left;
	margin-top: 35px;
	margin-left: -25px;
}
#share ul li {
	float: left;
	list-style: none;
	display: block;
	width: 120px;
	height: 30px;
}
#fb-share {
	width: 115px;
	height: 25px;
	float: left;
}
#tw-share {
	width: 115px;
	height: 25px;
}
/* ------------Menù usuario----------*/
#usermenu {
	position: absolute;
	top: 155px;
	left: 150px;
}
#usermenu ul li {
	float: left;
	list-style-type: none;
}
#usermenu a {
	font-family: 'Gochi Hand';
	color: #fff;
	text-decoration: none;
	padding-top: 12px;
	text-align: center;
	font-size: 19px;
	width: 172px;
	height: 43px;
}
#usermenu a.perfil {
	display: block;
	background-image: url("../images/btn-sesion.png"); 
	background-repeat: no-repeat;
}
#usermenu a:hover.perfil {
	display: block;
	background-image: url("../images/btn-sesion.png"); 
	background-repeat: no-repeat;
	background-position: 0 -55px;
}
#usermenu a.sesion {
	display: block;
	width: 100px;
	height: 45px;
	background-image: url("../images/btn-salir.png"); 
	background-repeat: no-repeat;
}
#usermenu a:hover.sesion {
	display: block;
	width: 100px;
	height: 45px;
	background-image: url("../images/btn-salir.png"); 
	background-repeat: no-repeat;
	background-position: 0 -55px;
}
/* ------------Contenido----------*/
#page {
	margin-top: -30px;
	background-color: #fff;
	padding-top: 40px;
	padding-right: 10px;
	padding-bottom: 50px;
	padding-left: 10px;
	overflow: auto;
	-webkit-box-shadow: 0px 0px 9px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 0px 9px rgba(50, 50, 50, 1);
	box-shadow: 0px 0px 9px rgba(50, 50, 50, 1);
}
#content {
	clear: both;
	overflow: auto;
}
#intro-home {
	width: 900px;
	height: auto;
	padding: 15px;
	background-color: #135184;
	-webkit-border-radius: 18px;
	-moz-border-radius: 18px;
	border-radius: 18px;
}
#intro-home p {
	font-family: 'Gochi Hand';
	color: #fff;
	font-size: 22px;
	margin: 0px;
	text-align: center;
}
.titulo-video {
	background-image: url("../images/bg-text-video.png");
	background-repeat: no-repeat;
	width: 560px;
	height: 60px;
	font-family: 'Gochi Hand';
	color: #fff;
	font-size: 22px;
	margin: 0px;
	text-align: center;
	padding-top: 20px;
	margin-top: 16px;
	margin-bottom: -20px;
	z-index: 2;
	position: relative;
}
#left-content {
	float: left;
}
#left-content iframe {
	padding: 15px;
	background-color: #383838;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#right-content ul {
	list-style: none;
}
#right-content ul li {
	/*padding-top: 25px;
	padding-left: 25px;*/
}
#right-content ul li a {
	font-family: 'Gochi Hand';
	text-decoration: none;
	color: #fff;
	font-size: 25px;
	display: block;
}
a.registrate {
	background-image: url("../images/btn-right_11.jpg");
	background-repeat: no-repeat;
	float: right;
	width: 325px;
	height: 179px;
	margin-top: 10px;
	padding: 15px 0 0 20px;
}
a:hover.registrate {
	background-position: 0 -194px;
}
a.juega {
	background-image: url("../images/btn-right_17.jpg");
	background-repeat: no-repeat;
	width: 322px;
	height: 212px;
	float: right;
	padding: 15px 0 0 20px;
	margin-top: 10px;
}
a:hover.juega {
	background-position: 0 -227px;
}
.resaltado {
	font-size: 32px;
	display: block;
}
/* ------------Footer----------*/
footer {
	background-image: url("../images/bg-footer.png");
	background-repeat: no-repeat;
	background-position: center;
	clear: both;
	margin-top: -50px;
	position: relative;
}
#footer-content {
	width: 960px;
	/*height: 109px;*/
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding-top: 45px;
}
#footer-content ul {
	display: block;
	width: 650px;
	overflow: auto;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	padding: 0px;
}
#footer-content ul li {
	list-style: none;
	float: left;
	margin: 0 22px 0 22px;
}
a.tm {
	background-image: url("../images/telemedellin_pie.jpg");
	width: 155px;
	height: 65px;
	display: block;
	text-indent: -9999px;
}
a.ol {
	background-image: url("../images/logo-olimpicos-01.jpg");
	width: 140px;
	height: 65px;
	display: block;
	text-indent: -9999px;
}
a.al {
	background-image: url("../images/alcaldia.jpg");
	width: 211px;
	height: 65px;
	display: block;
	text-indent: -9999px;
}
a.terminos {
	clear: both;
	font-family: "arial";
	text-decoration: none;
	font-size: 14px;
	color: #3090c3;
	display: block;
	padding-bottom: 10px;
}
a:hover.terminos {
	clear: both;
	font-family: "arial";
	text-decoration: underline;
	font-size: 14px;
	color: #3090c3;
	display: block;
	padding-bottom: 10px;
}
/* -------------------- Página de puntajes ------------------------*/
#content-ranking {
	background-color: #135184;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	overflow: auto;
}
#content-ranking h1 {
	font-family: 'Gochi Hand';
	font-size: 40px;
	color: #fff;
	text-align: center;
	margin-top: 0px;
}
#ninos {
	width: 440px;
	background-color: #2c7cad;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	float: left;
	margin-right: 20px;
	position: relative;
}
#star-left {
	background-image: url("../images/star.png");
	width: 98px;
	height: 89px;
	position: absolute;
	top: -60px;
	left: -5px;
}
#ninos h2 {
	color: #fef6c5;
	font-family: 'Gochi Hand';
	font-size: 35px;
	margin-top: 0px;
	margin-bottom: 5px;
	text-align: center;
}
#ninos p {
	display: block;
	margin: 0px;
	float: left;
	font-family: 'Gochi Hand';
	font-family: 18px;
	color: #ffad00;
	margin-right: 100px;
}
#ninos p.puntaje {
	float: right;
	margin-right: 15px;
}
#ninos ul {
	clear: both;
	padding-left: 15px;
}
#ninos ul li {
	list-style: none;
	font-family: 'Gochi Hand';
	font-size: 18px;
	color: #fff;
	background-image: url("../images/separador-puntaje.png");
	background-position: bottom left;
	background-repeat: repeat-x;
	padding-bottom: 15px;
	padding-top: 10px;
}
#ninas {
	width: 440px;
	background-color: #2c7cad;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding: 10px;
	float: left;
	position: relative;
	margin-bottom: 25px;
}
#star-right {
	background-image: url("../images/star.png");
	width: 98px;
	height: 89px;
	position: absolute;
	top: -60px;
	right: -5px;
}
#ninas h2 {
	color: #fef6c5;
	font-family: 'Gochi Hand';
	font-size: 35px;
	margin-top: 0px;
	margin-bottom: 5px;
	text-align: center;
}
#ninas p {
	display: block;
	margin: 0px;
	float: left;
	font-family: 'Gochi Hand';
	font-family: 18px;
	color: #ffad00;
	margin-right: 100px;
}
#ninas p.puntaje {
	float: right;
	margin-right: 15px;
}
#ninas ul {
	clear: both;
	padding-left: 15px;
}
#ninas ul li {
	list-style: none;
	font-family: 'Gochi Hand';
	font-size: 18px;
	color: #fff;
	background-image: url("../images/separador-puntaje.png");
	background-position: bottom left;
	background-repeat: repeat-x;
	padding-bottom: 15px;
	padding-top: 10px;
}
.lugar {
	font-family: "Impact";
	font-weight: bold;
	font-size: 30px;
	color: #fff;
	margin-right: 25px;
}
.total {
	font-family: "Impact";
	font-weight: bold;
	font-size: 30px;
	color: #fff;
	float: right;
	text-align: center;
}
a.btn-jugar {
	width: 245px;
	margin-left: auto;
	margin-right: auto;
	background-color: #6f3357;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	font-family: 'Gochi Hand';
	font-size: 25px;
	color: #fff;
	clear: both;
	padding: 15px;
	text-align: center;
	margin-top: 20px;
	display: block;
	text-decoration: none;
	margin-bottom: 20px;
}
a:hover.btn-jugar {
	background-color: #a0276a;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

.clear
{
	clear: both;
}